<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Radio App</title>  

  <!-- All our CSS -->
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">    
  <link rel="stylesheet" href="css/onsen-css-components.css"> 
  <link rel="stylesheet" href="css/plugins.css">
  <link rel="stylesheet" href="css/roots.css">
  <link rel="stylesheet" href="css/app.css">

  <!-- CSS for the Radio -->
  <link rel="stylesheet" href="css/radio.css">
  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/angular/angular-touch.js"></script> 
  <script src="js/angular-route.min.js"></script>
  <script src="lib/onsen/js/onsenui.js"></script>    
  <script src="js/jquery.js"></script>  
  <script src="js/plugins.js"></script>  
  <script src="cordova.js"></script>
  <script src="js/app.js"></script>  
  <script type='text/javascript' src='js/audio.js'></script>

</head>

<body ng-controller="networkController">    
  <div id="radio" ng-controller="radioController">
     <ons-navigator animation="fade" var="radioPage">  </ons-navigator>
  <ons-tabbar>
    <ons-tab  href="radio2.html" ng-click="mudaRadio(item.id);" ng-repeat="(key,item) in radios_arr" ng-attr-active="{{ radio_ativa == item.id }}" >
      <img src="images/radio/logo_xx.png"  ><br>
      <span class="tab-label">{{item.title}}</span>
    </ons-tab>
   
  </ons-tabbar>

  <!-- Insert the modal in your index.html -->
  <!-- Change the message to anything you want, this message will be if the user doesn't have any network connection -->
  <ons-modal var="offlineMessage">
   Voc&#xEA; est&#xE1; sem conex&#xE3;o.
  </ons-modal>
</radio>
</body>
</html>