


<ons-navigator animation="slide" var="radioPage">  

  <ons-page ng-controller="radioController">

    <ons-toolbar >
      <div class="left">
      </div>
      <div class="center">
        Live Radio<!--  <jwplayer player-id="myplayer" setup="options"></jwplayer> -->
      </div>
      <div class="right" ng-show="isFetching">
      </div>
    </ons-toolbar>

    <div class="details-content glass no-scroll">
      <div class="radiobox">
        <ons-row align="center">
          <ons-col width="13%"></ons-col>
          <ons-col width="74%" align="center" id="display">
          <div class="ball"></div>
           <p class="song-title">{{ radioOptions.songName | limitTo: 32 }}</p>
          <p id="stream-time">{{ radio.currentTime | SecondsToTimeString }}</p>

            <img  ng-src="{{ radioOptions.albumArt }}">
            <ons-row align="center" id="controls">
              <ons-col width="15%" align="center"><a href="#" class="botoes" ><span class="ion-ios-heart"></span></a></ons-col>
              <ons-col width="15%" align="center"><a href="#" class="botoes" ><span class="ion-heart-broken"></span></a></ons-col>
              <ons-col width="40%" align="center"><a href="#" id="btn-play" ng-click="startRadio()" ng-bind-html="renderHtml(buttonIcon)"><span class="ion-ios-play"></span></a></ons-col>
              <ons-col width="15%" align="center"><a href="#" class="botoes" ><span class="ion-share"></span></a></ons-col>
              <ons-col width="15%" align="center"><a href="#" class="botoes"><span class="ion-ios-email"></span></a></ons-col>
            </ons-row>
            <!-- <p id="stream-time">{{ radio.currentTime | SecondsToTimeString }}</p>   -->          
          </ons-col>
          <ons-col width="13%"></ons-col>
        </ons-row>        
        <ons-row>
          <ons-col width="13%"></ons-col>
          <ons-col width="74%" align="center">
          <div class="tocada"></div>
          <div class="tocada"></div>
          </ons-col>
          <ons-col width="13%"></ons-col>
        </ons-row>

        <ons-row align="center">
          <ons-col width="32%"></ons-col>
          <ons-col width="36%" align="center">
           <!--  <a href="#" id="btn-play" ng-click="startRadio()" ng-bind-html="renderHtml(buttonIcon)"><span class="ion-ios-play"></span></a> -->
          </ons-col>
          <ons-col width="32%"></ons-col>
        </ons-row>
      </div>
      <div class="bgbox">
       <!--  <img src="images/radio/bg.jpg" class="bg"> -->
      </div>
    </div>

  </ons-page>

</ons-navigator>   