/* 
* Roots v 2.0.0
* Follow me @adanarchila at Codecanyon.net
* URL: http://codecanyon.net/item/roots-phonegapcordova-multipurpose-hybrid-app/9525999
* Don't forget to rate Roots if you like it! :)
*/

/* Insert here your custom CSS */

ons-tabbar {
    position: relative !important;
    width: 300px;
    margin:0 auto;
    margin-top: 50%;
}

ons-tabbar .tab-bar__item {
    float:left;
    min-width:100px;
}

.select-radios .radio-item[active=true] span {
    color: #ffeb01;
    font-weight: bold;
}